<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037440300301-n1g8it3a6cbjd84hn1havddo1k14afjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037440300301-n1g8it3a6cbjd84hn1havddo1k14afjc</string>
	<key>API_KEY</key>
	<string>AIzaSyA-sGD7DeHOKX7q1Ux9Zrzxz4qtlUolGpE</string>
	<key>GCM_SENDER_ID</key>
	<string>1037440300301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.damianjahn</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-13-33b33</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-13-33b33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037440300301:ios:42fff7ab64714e0273ec44</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-13-33b33.firebaseio.com</string>
</dict>
</plist>